@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Gothic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Bricolage Grotesque, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@layer components {
  .sveneborder {
    @apply border rounded-lg;
  }
  html {
    @apply opacity-100;
    /* @apply bg-black md:bg-gradient-to-tl md:from-green-500 md:via-blue-500  md:to-red-500; */
  }
}

@keyframes pulse {
  from {
      background: radial-gradient(ellipse farthest-corner at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
      opacity: 1;
  }
  to {
      background: radial-gradient(ellipse farthest-corner at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
      opacity: 0.5;
  }
}

html {
  color:white;
  background-color: black;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide the scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: fixed;
  z-index: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.199) 0%, rgba(0,0,0,0) 100%);
}

.hole {
  position: fixed;
  z-index: -1;
  background: radial-gradient(circle, rgb(0, 0, 0, 0.30) 0%, rgba(0,0,0,0.96) 50%);
  @apply backdrop-blur-2xl;
}

.star {
  margin: 20px;
  padding: 100px;
  width: 200px;
  height: 200px;
  animation: pulse 2s ease-in-out infinite alternate;
}